body {
    background-image: url("backpic1.png");
  }

h1 {
    position: absolute;
    top: 40%;
    left: 60%;
    color: white;
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
  }
p {
    position: absolute;
    top: 50%;
    left: 60%;
    color: rgb(119, 117, 117);
    font-family: 'Roboto Mono', monospace;
  }
 